* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #B3C3FF;
}
 
header {
    margin-bottom: 5dvh;
    font-size: 200%;
    text-align: center;
}
 
#Calculadora {
    background-color: black;
    border: 5px solid black;
    border-radius: 4px;
    padding: 5px;
    font-size: 150%;
}
 
#Tela {
    background-color: black;
    border: 2.5px solid white;
    border-radius: 3px;
    padding: 5px 8px;
    margin-bottom: 5px;
    min-height: 6dvw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 4px;
    font-size: 120%;
}
 
#historico {
    color: rgba(245, 181, 0, 0.5);
    font-size: 40%;
    min-height: 1em;
    word-break: break-all;
    text-align: right;
}
 
#visor {
    color: #F5B500;
    font-size: 100%;
    word-break: break-all;
    text-align: right;
    line-height: 1.1;
}
 
#Teclado {
    display: grid;
    grid-template-columns: repeat(5, 19.2%);
    gap: 3px;
}
 
button {
    width: 3dvw;
    height: 3dvw;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    font: inherit;
    color: white;
    transition: scale 0.3s, border-color 0.3s;
    user-select: none;
    padding: 3px;
    text-align: center;
}
 
button:hover {
    scale: 1.1;
    border-color: white;
}
 
button:active {
    scale: 0.95;
}
 
.numerador {
    background-color: #7D89B3;
}
 
.operador {
    background-color: #6D8BF2;
}
 
#zero {
    grid-column: span 3;
    width: 100%;
    background-color: #7D89B3;
}

#btn-igual, #btn-clear {
    background-color: #F5B500;
    color: white;
    font-weight: 700;
}


@media screen and (max-width: 768px) {

    #Calculadora{
        padding: 3px;
        font-size: 120%;
    }

    header{
        font-size: 120%;
    }

    #Tela{
        margin-bottom: 10px;
        gap: 15px;
    }

    button{
        width: 10dvw;
        height: 10dvw;
    }

    #historico{
        min-height: 2.5em;
    }

    #Teclado {
        display: grid;
        grid-template-columns: repeat(5, 10dvw);
        gap: 2px;
    }
    
}
